* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    padding-left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #2a607c; */
    color: #190808;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    text-decoration: none;
    /* background-color:rgb(146, 146, 161); */
}

h1 {
    font-size: 4vw;
    width: 29%;
    padding-left: 20px;
    /* background: rgb(188, 160, 107); */
}

/* list-style-type to remove list decoration */

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* background-color: bisque; */
    text-decoration: none;
}
@media screen and (max-width: 970px) {
    ul {
      flex-direction: column;
    }
  }

h2 {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    /* background-color: bisque; */
    text-decoration: none;
    width: 100%;  
}

li {
    color:#2a607c;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
   
}

main {
    display: flex;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1407px) {
    main {
      flex-direction: column;
    }
  }

.background-image-container {
    width: 100%;
}



.content-box, .background-image{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    font-size: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(87, 119, 144);
    display: inline-block;
}

.about-me-section {
    width: 100%;
    /* background-image: url("https://i.ibb.co/5xYxL8K/blan.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
}

.work-section {
    width: 100%;  
}

.miniPic{
   width: 50%; 
}

.miniPic-horiseon {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
    opacity: .8;
    /* background-image: url("../images/gustavo-espindola-7BG3z3N6zAI-unsplash\ \(1\).jpg"); */
    /* background-color: antiquewhite; */
}

.miniPic-structure {
    background-image: url("../images/code-wizard.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    opacity: .8;
    /* background-color: #375d6f; */
}

.miniPic-street {
    /* background-image: url("../images/GSDone.PNG"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: black; */
    width: 50%;
    opacity: .8;
}

.miniPic-earth {
    /* background-image: url("https://i.ibb.co/cchJ3tq/clay-banks.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    opacity: .8;
}




.smallContainer{
    display: flex;
    margin-left: 0;
    
}

/* Photo by Gustavo Espindola on Unsplash */
/* Photo by Redd F on Unsplash */
/* Photo by Clay Banks on Unsplash */
/* Photo by Marjan Blan on Unsplash */
/* Photo by Pavan Trikutam on Unsplash */

p {
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    height: 200px;
    width: 100%;
    font-size: 1.1vw;
    color:aliceblue;
    font-weight: bold;
    
}

.prework-container {
    /* background-image: url("../images/pexels-pixabay-33085.jpg");
    background-color: rgb(181, 169, 153); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
    opacity: .8;
}


a {
    font-size: 2vw;
    color: rgb(87, 119, 144);
    margin: 40px;
    text-decoration: none;
    font-weight: bold;
    /* background-color: antiquewhite; */
}

.prework-link-container {
    border: none;
    width: 100%;
}

.contact {
    /* background-image: url("../images/pavan.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; 
}

footer {
    display: inline-block;
    text-align: center;
}